h3 {
    color: #706033;
}

h4 {
    font-weight: bold;
    font-size: 19px;
    text-align: left;
    margin-bottom: 6px;
}

table {
    margin: 20px auto;
    width: 100%;
}

td, th {
    text-align: center;
    border: 1px solid rgb(179, 168, 147);
    padding: 4px;
}

th {
    font-weight: bold;
}

table td:first-child {
  width: 10%;
}

table td:nth-child(2) {
  width: 15%;
}


table td:nth-child(3) {
  text-align: left;
  width: 75%;
}


.mercenary {
    width: 60%;
    margin-top: 35px;
    text-align: left;
}

.mercenary img {
  margin: 15px 0;
  border: 2px solid #413922e3;
}
